{% extends "registration/base.html" %}
{% block content %}
<main>
    <div class="m-auto d-none d-md-block w-50">
        <div class="card shadow p-3 mb-3 bg-white rounded">
                <h1 class="mb-0 h3">
                    Forgot Password?
                </h1>
                <br />
                <p>
                    {% if msg %}
                    {{ msg | safe }}
                    {% else %}
                    {% endif %}
                </p>
                <hr>
    
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="card-body">
                    <form method="post" class="container">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-text" id="email">
                                    Email
                                </span>
                                <input type="email" name="email"  class="form-control"
                                     autocomplete="email" maxlength="254" required id="id_email"
                                     placeholder="Enter email">
                            </div>
                          </div>
                    </div>
                    
                    <div class="d-grid p-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    </form>
                </div>
            
            <div class="d-flex justify-content-center align-items-center mt-4">
                <span class="fw-normal text-center">
                    <a href="{% url 'register' %}" class="fw-bold">Create A New Account</a><br><br>
                    <a href="{% url 'login' %}" class="fw-bold">Back To Login</a><br>
                </span>
            </div>
        </div>

    </div>
</main>
{% endblock content %}