{% extends "auth/base.html" %}

{% block title %} Sign IN {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<form method="post" class="container">
    <h1 class="mb-0 h3">
        ReefMonitor
    </h1>
    <br />
    <p>
        {% if msg %}
        {{ msg | safe }}
        {% else %}
        Add your credentials
        {% endif %}
    </p>
    </div>

    {% csrf_token %}

    <!-- Form -->
    <div class="form-group mb-4">
        <label for="username">Username</label>
        <div class="input-group">
            <span class="input-group-text" id="username">
                <i class="bi bi-person-circle"></i>
            </span>
            {{ form.username }}
        </div>
    </div>
    <!-- End of Form -->
    <!-- Form -->
    <div class="form-group mb-4">
        <label for="email">Email</label>
        <div class="input-group">
            <span class="input-group-text" id="email">
                <i class="bi bi-person-circle"></i>
            </span>
            {{ form.email }}
        </div>
    </div>
    <!-- End of Form -->
    <!-- Form -->
    <div class="form-group mb-4">
        <label for="password1">Your Password</label>
        <div class="input-group">
            <span class="input-group-text" id="password1">
                <i class="bi bi-unlock-fill"></i>
            </span>
            {{ form.password1 }}
        </div>
    </div>
    <!-- End of Form -->
    <!-- Form -->
    <div class="form-group mb-4">
        <label for="password2">Confirm Your Password</label>
        <div class="input-group">
            <span class="input-group-text" id="password2">
                <i class="bi bi-unlock-fill"></i>
            </span>
            {{ form.password2 }}
        </div>
    </div>
    <!-- End of Form -->
    <div class="d-grid">
        <button type="submit" name="register" class="btn btn-primary">Register</button>
    </div>
</form>
<br />


<div class="d-flex justify-content-center align-items-center mt-4">
    <span class="fw-normal">
        Not registered?
        <a href="{% url 'register' %}" class="fw-bold">Create account</a>
    </span>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

