{% extends "dashboard/base.html" %}

{% load filters %}
{% load humanize %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="p-4">
    <div class="row row-cols-1 row-cols-md-2 g-4 card-group">
        {% for aquarium in aquariums %}
        <div class="col">
            <div class="card shadow p-3 mb-3 bg-white rounded h-100">
                <div class="card-body pb-0">
                    <h5 class="card-title"> {{ aquarium.name }} </h5>
                    <p class="card-text"> Last updated: {{ aquarium.update_date|naturaltime}} </p>
                    
                    
                    {% define aquarium.id as id %}
                    {% if latest|hash:id %}
                    <hr>
                    <div>
                        <!-- <p class="card-text"> Current Values</p> -->
                        {% for measurement in latest|hash:id %}

                        {% if measurement == "Salinity" %}
                        <span class="d-inline-block mb-2" data-toggle="tooltip"
                            title="{{ latest|hash:id|timestamp:measurement }}">
                            <button type="button" class="btn btn-primary">Salinity: {{ latest|hash:id|value:measurement}} {{ parameter_units|displaychoice:measurement }}</button>
                        </span>
                        {% endif %}

                        {% if measurement == "Temperature" %}
                        <span class="d-inline-block mb-2" data-toggle="tooltip"
                            title="{{ latest|hash:id|timestamp:measurement }}">
                            <button type="button" class="btn btn-secondary">Temperature: {{latest|hash:id|value:measurement }} {{ parameter_units|displaychoice:measurement }}</button>
                        </span>
                        {% endif %}

                        {% if measurement == "Carbonate Hardness" %}
                        <span class="d-inline-block mb-2" data-toggle="tooltip"
                            title="{{ latest|hash:id|timestamp:measurement }}">
                            <button type="button" class="btn btn-success">Carbonate Hardness: {{latest|hash:id|value:measurement }} {{ parameter_units|displaychoice:measurement }}</button>
                        </span>
                        {% endif %}

                        {% if measurement == "Calcium" %}
                        <span class="d-inline-block mb-2" data-toggle="tooltip"
                            title="{{ latest|hash:id|timestamp:measurement }}">
                            <button type="button" class="btn btn-danger">Calcium: {{ latest|hash:id|value:measurement }} {{ parameter_units|displaychoice:measurement }}
                            </button>
                        </span>
                        {% endif %}

                        {% if measurement == "Magnesium" %}
                        <span class="d-inline-block mb-2" data-toggle="tooltip"
                            title="{{ latest|hash:id|timestamp:measurement }}">
                            <button type="button" class="btn btn-warning">Magnesium: {{ latest|hash:id|value:measurement}} {{ parameter_units|displaychoice:measurement }}</button>
                        </span>
                        {% endif %}

                        {% endfor %}


                    </div>
                    {% endif %}
                    
                    
                </div>
                <div class="ps-3 mb-1">
                    <hr>
                    <a href="/{{ aquarium.id }}/overview{{ query }}" class="btn btn-primary">Select</a>
                    <a href="/{{ aquarium.id }}/delete" class="btn btn-danger" style="position: relative;">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col">
            <div class="card shadow p-3 mb-3 bg-white rounded h-100">
                <form method="post">
                <div class="card-body">
                    <h5 class="card-title"> Add new aquarium </h5>
                    <hr>
                        {% csrf_token %}
                        {% if msg %}
                        {{ msg }}
                        {% endif %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">Name</span>
                            {{form.name}}
                        </div>
                </div>
                <div class="ps-3 mb-1">
                    <hr>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}